.HomePage{
  background: linear-gradient(#050505, #5ccfc0);
  text-align: center;

}
.App-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #04323f;
}

.App-logo {
    
    filter: brightness(1.1);
    /* mix-blend-mode: multiply; */
    
    height: 30vmin;
    pointer-events: none;
  }
  
  
  
  .PPal-header {
    

    /* background-color: ; */
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white;
  }

  .imagHP{
    filter: brightness(1.2);
    mix-blend-mode: multiply;
    border-color: transparent;
    width: 100%;
    height: 100%;
  }