ul {
    
    background-color: rgb(10, 9, 9);    
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    
  }

  .cart {
    position: relative;
  }
  
  #cart_menu_num {
    
    position: absolute;
    top: 19px;
    left: -200%;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  
  
  li {
    
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 12px;
    text-decoration: none;
  }

  
  .dropdown-style{
    display: block;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
  }

  li a:hover {
   
    color: rgb(10, 237, 245);
    /* background: linear-gradient(#5D9B9B, #046e60); */
    /* border-radius: 40%;   */
  }
  
  .addToCart:hover {
    
    /* background: linear-gradient(#5D9B9B, #046e60);
    border-radius: 40%;     */
  }
  
  .Header-logo {
    
    /* filter: brightness(1.5); */
    /* mix-blend-mode: multiply; */
    padding: 0px 20px;
    height: 10vmin;
    pointer-events: none;
    float: left;
  }


